<launch>
		<node pkg="emotion_detector" name="getImg.py" type="getImg.py"></node>
		<node pkg="emotion_detector" name="emotionToJoints.py" type="emotionToJoints.py"></node>
		<node pkg="emotion_detector" name="processFace.py" type="processFace.py"></node>
		
		<!-- Comment out the line below if you dont want to save the joint states in the log files -->
		<include file="$(find emotion_detector)/launch/recordJoints.launch"/>
		
</launch>
